@use '../settings' as *;

.form-component {
  padding: 20px 0;

  .form-container {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    input[type="text"] {
      padding: 10px;
      border-radius: 8px;
      border: none;
      font-size: 1.2rem;
      width: 100%;
      outline: none;
      text-align: center;
    }
    
    input[type="submit"] {
      padding: 12px;
      border-radius: 8px;
      border: none;
      background: $color-1;
      color: $white;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: darken($color-1, 10%);
      }
    }
  }
  
  .btn-sort-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 10px;

    div {
      background: $color-1;
      padding: 10px 20px;
      border-radius: 8px;
      transition: background 0.3s;

      &:hover {
        background: darken($color-1, 10%);
      }
    }
  }
}
