@use '../settings' as *;

.header {
  padding: 20px 0;

  h1 {
    font-size: 2.5rem;
    text-shadow: 2px 3px 0px $color-1;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  nav {
    font-size: 1.2rem;

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;

      a {
        text-decoration: none;
        color: $white;
        border-radius: 10px;
        padding: 10px 15px;
        text-align: center;
        transition: background 0.3s;

        &:visited {
          text-decoration: none;
          color: $white;
        }
        &:hover {
          background: $black;
        }
      }

      a.nav-active {
        background: $color-1;

        &:hover {
          background: darken($color-1, 10%);
        }
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

    h1 {
      margin-bottom: 0;
      font-size: 3.3rem;
    }

    nav ul {
      justify-content: flex-end;
    }
  }
}
