{
  "extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],
  "ignoreFiles": [
    "**/*.js",
    "**/*.jsx",
    "**/*.ts",
    "**/*.tsx",
    "**/*.mjs",
    "**/*.cjs",
    "node_modules/**/*",
    "dist/**/*"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extends",
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen"
        ]
      }
    ],
    "declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
    "no-invalid-position-at-import-rule": null,
    "import-notation": "string"
  }
}
